openapi: 3.0.3
info:
  title: Offense Conditions — Content Service
  version: 0.1.0
  description: |
    HTTP API for the content service: machines, challenges, learning paths,
    ratings, reviews, search. Internal gRPC interface is documented in
    `proto/content.proto`.
  contact:
    name: Offense Conditions Platform Team
    email: platform@offensiveconditions.org

servers:
  - url: https://api.offensiveconditions.org
    description: Production
  - url: http://localhost:8003
    description: Local dev

security:
  - BearerAuth: []

tags:
  - name: machines
  - name: challenges
  - name: paths
  - name: search
  - name: health

paths:
  /livez:
    get:
      tags: [health]
      security: []
      summary: Liveness probe
      responses:
        "200":
          description: alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  version: { type: string }

  /readyz:
    get:
      tags: [health]
      security: []
      summary: Readiness probe
      responses:
        "200": { description: ready }
        "503": { description: not ready }

  /v1/machines:
    get:
      tags: [machines]
      security: []
      summary: List machines
      parameters:
        - { in: query, name: limit, schema: { type: integer, default: 25, maximum: 100 } }
        - { in: query, name: offset, schema: { type: integer, default: 0 } }
        - { in: query, name: status, schema: { type: string, enum: [draft, review, active, retired, archived] } }
        - { in: query, name: difficulty, schema: { $ref: "#/components/schemas/Difficulty" } }
        - { in: query, name: os, schema: { type: string, enum: [linux, windows, other, bsd, macos] } }
        - { in: query, name: tags, schema: { type: array, items: { type: string } }, style: form, explode: true }
        - { in: query, name: search, schema: { type: string, minLength: 2, maxLength: 200 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MachineList" }
    post:
      tags: [machines]
      summary: Create a draft machine (content creators)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MachineCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Machine" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/machines/{id}:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [machines]
      security: []
      summary: Get a machine by id
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Machine" }
          description: OK
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [machines]
      summary: Update a machine (creator or staff)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MachineUpdate" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Machine" }

  /v1/machines/by-slug/{slug}:
    parameters:
      - { in: path, name: slug, required: true, schema: { type: string } }
    get:
      tags: [machines]
      security: []
      summary: Get machine by slug
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Machine" }
          description: OK
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/machines/{id}/submit-for-review:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    post:
      tags: [machines]
      summary: Submit a draft for moderator review
      responses:
        "200":
          description: Submitted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Machine" }
        "409":
          description: Invalid status transition
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/machines/{id}/publish:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    post:
      tags: [machines]
      summary: Publish a reviewed machine (moderator)
      responses:
        "200":
          description: Published
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Machine" }

  /v1/machines/{id}/retire:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    post:
      tags: [machines]
      summary: Retire an active machine (moderator)
      responses:
        "200":
          description: Retired
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Machine" }

  /v1/machines/{id}/rate:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    post:
      tags: [machines]
      summary: Submit a 1-5 star rating + optional difficulty vote
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MachineRate" }
      responses:
        "204": { description: Rated }

  /v1/machines/{id}/stats:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [machines]
      security: []
      summary: Aggregate statistics
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MachineStats" }

  /v1/machines/{id}/reviews:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [machines]
      security: []
      summary: List reviews
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/MachineReview" }
                  meta: { $ref: "#/components/schemas/PageMeta" }

  /v1/challenges:
    get:
      tags: [challenges]
      security: []
      summary: List challenges
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChallengeList" }

  /v1/paths:
    get:
      tags: [paths]
      security: []
      summary: List learning paths
      responses:
        "200":
          description: OK

  /v1/paths/me/enrolled:
    get:
      tags: [paths]
      summary: List the calling user's enrollments
      responses:
        "200": { description: OK }

  /v1/paths/{id}/enroll:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    post:
      tags: [paths]
      summary: Enroll the calling user in a path
      responses:
        "200": { description: Enrolled }
        "409":
          description: Already enrolled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/paths/{id}/progress:
    parameters:
      - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [paths]
      summary: Get progress in a path
      responses:
        "200": { description: OK }

  /v1/paths/{path_id}/modules/{module_id}/complete:
    parameters:
      - { in: path, name: path_id, required: true, schema: { type: string, format: uuid } }
      - { in: path, name: module_id, required: true, schema: { type: string, format: uuid } }
    post:
      tags: [paths]
      summary: Submit module answers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                answers:
                  type: object
                  additionalProperties: { type: string }
      responses:
        "200": { description: Scored }

  /v1/search:
    get:
      tags: [search]
      security: []
      summary: Unified search across machines, challenges, and paths
      parameters:
        - { in: query, name: q, required: true, schema: { type: string, minLength: 2, maxLength: 200 } }
        - { in: query, name: type, schema: { type: string, enum: [machine, challenge, path, all] } }
        - { in: query, name: difficulty, schema: { $ref: "#/components/schemas/Difficulty" } }
        - { in: query, name: limit, schema: { type: integer, default: 25, maximum: 100 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SearchResponse" }

  /v1/tags:
    get:
      tags: [search]
      security: []
      summary: List all tags
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Tag" }

  /v1/categories:
    get:
      tags: [search]
      security: []
      summary: List all categories
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Category" }

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Conflict:
      description: Conflict
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Difficulty:
      type: string
      enum: [very_easy, easy, medium, hard, insane]

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: object, additionalProperties: true }

    PageMeta:
      type: object
      properties:
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
        has_more: { type: boolean }

    Tag:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        color: { type: string, nullable: true }

    Category:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        parent_id: { type: string, format: uuid, nullable: true }
        icon: { type: string, nullable: true }

    MachineCreate:
      type: object
      required: [name, slug, os, difficulty, image_ref, image_version]
      properties:
        name: { type: string, minLength: 1, maxLength: 120 }
        slug: { type: string, pattern: "^[a-z0-9-]{2,64}$" }
        description: { type: string, nullable: true }
        os: { type: string, enum: [linux, windows, other, bsd, macos] }
        difficulty: { $ref: "#/components/schemas/Difficulty" }
        backend: { type: string, enum: [container, vm], default: container }
        image_ref: { type: string }
        image_version: { type: string }
        base_user_points: { type: integer, minimum: 0 }
        base_root_points: { type: integer, minimum: 0 }
        required_tier: { type: string, enum: [free, vip, vip_plus], default: free }
        intro_markdown: { type: string, nullable: true }
        tags:
          type: array
          items: { type: string, format: uuid }

    MachineUpdate:
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        difficulty: { $ref: "#/components/schemas/Difficulty" }
        intro_markdown: { type: string }
        walkthrough_markdown: { type: string }
        tags:
          type: array
          items: { type: string, format: uuid }

    Machine:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        description: { type: string, nullable: true }
        os: { type: string }
        difficulty: { type: string }
        status: { type: string }
        required_tier: { type: string }
        base_user_points: { type: integer }
        base_root_points: { type: integer }
        rating_avg: { type: number, nullable: true }
        rating_count: { type: integer }
        total_user_owns: { type: integer }
        total_root_owns: { type: integer }
        tags:
          type: array
          items: { $ref: "#/components/schemas/Tag" }
        released_at: { type: string, format: date-time, nullable: true }
        retired_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    MachineList:
      type: object
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/Machine" }
        meta: { $ref: "#/components/schemas/PageMeta" }

    MachineRate:
      type: object
      required: [rating]
      properties:
        rating: { type: integer, minimum: 1, maximum: 5 }
        difficulty_vote: { $ref: "#/components/schemas/Difficulty" }
        comment: { type: string, maxLength: 5000 }

    MachineReview:
      type: object
      properties:
        user_id: { type: string, format: uuid }
        machine_id: { type: string, format: uuid }
        rating: { type: integer }
        difficulty_vote: { type: string, nullable: true }
        comment: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    MachineStats:
      type: object
      properties:
        total_user_owns: { type: integer }
        total_root_owns: { type: integer }
        avg_user_solve_minutes: { type: integer, nullable: true }
        avg_root_solve_minutes: { type: integer, nullable: true }
        rating_avg: { type: number, nullable: true }
        rating_count: { type: integer }
        difficulty_distribution:
          type: object
          additionalProperties: { type: integer }

    ChallengeList:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id: { type: string, format: uuid }
              slug: { type: string }
              name: { type: string }
              description: { type: string }
              difficulty: { type: string }
              points: { type: integer }
              status: { type: string }
        meta: { $ref: "#/components/schemas/PageMeta" }

    SearchResponse:
      type: object
      properties:
        query: { type: string }
        total: { type: integer }
        hits:
          type: array
          items:
            type: object
            properties:
              type: { type: string }
              id: { type: string, format: uuid }
              slug: { type: string }
              name: { type: string }
              description: { type: string }
              difficulty: { type: string }
              rating_avg: { type: number, nullable: true }
        facets:
          type: object
          additionalProperties:
            type: object
            additionalProperties: { type: integer }
